 
  .main-header{
    height: 250px;
    padding-top: 20px;
/*background-color:rgba(110, 185, 252, 0.62);*/
background-image: url(../images/Light_background_deepslate_transition.png), url(../images/Light_background_grass.png), linear-gradient(0deg, rgba(3,83,103,1) 6%, rgba(157,235,255,1) 49%, rgba(91,177,255,1) 100%);
background-repeat: repeat-x, repeat-x, no-repeat;
background-position: bottom left, 0 120px, 0 0;
  }

  .link-wraper{
text-align: right;
margin-bottom: 50px;
  }
.sing-in_1,
.register_1{
  display: inline-block;
  height: 34px;
  text-align: center;
  padding:8px;
  border:1px solid #000;
  font-weight: 1000;
  text-transform: uppercase;
}
.sing-in_1{
  color: #000;
}
.register_1{
  background-color: rgb(0, 85, 255);
  color: #FFFFFF;
  position: relative;
  padding-left: 45px;
}
  main{
    margin-top:-50px;
  }
  
  .register_1::before{
    content:'';
    display: inline-block;
    background-repeat:no-repeat;
    width: 25px;
    height: 25px;
background-image:url(../icons/account-circle-outline.svg);
position:absolute;
left:18px;
top: 5px;

  }

  .main-wrapper{
    min-width: 720px;
    width: 70%;
    margin:auto;
  }

  .main-menu{
list-style: none;
margin: -16px;
  }

  .main-menu-item{
display:inline-block;
 margin: 0 1.4em;
 position: relative;
 padding-bottom: 30px;
  }

  .main-menu-item::after{
content: '\25BC';
  }
  .main-menu-item:hover::after{
    content: '\25B2';
  }

  .main-menu-item > .submenu:after{
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent #FFFFFF transparent;
      top: -20px;
      left: 42%;
      }

  .main-menu-item>a{
    color:black;
    text-transform: uppercase;
    font-weight: bolder;
  }

  .main-menu-item>a:hover{
    text-decoration: underline;
  }

  .main-menu-item:hover>.submenu{
    display: block;
  }

  .main-menu-item:hover>.submenu{
    display: block;
  }

  .submenu{
    display: none;
width: 100%;
min-width: 150px;
max-width: 200%;
    position: absolute;
    top: 30px;
    left: -50%;
    list-style: none;
    padding: 7px;
    background-color:rgb(255, 255, 255);
    margin: 0;
  }

  .submenu-item{
    position: relative;
  }
  .submenu-item:has(>.submenu)::after{
    content: '\1433';
    position: absolute;
    top:5px;
    right: 0;;
  }
  .submenu-item:hover>.submenu{
display: block;
top: 0;
left:100%
  }
  .submenu-link{
    display: inline-block;
    background-color:rgb(255, 255, 255);
    padding:5px 9px;
    text-transform: capitalize;
    color:black;
  }
.submenu-link:hover{
  background-color:rgb(232, 233, 231);
  color: blue;
}


.left0{
  left:0;
}

.left10{
  left: -10%;
}
.explore::before{
  content: url(./../icons/book-open-variant.svg);
  display: inline-block;
  width: 15px;
  transform: translate(-5px, 3px);
  }
  
  .home::before{
    content: url(./../icons/home.svg);
    display: inline-block;
    width: 15px;
    transform: translate(-3px, 3px);

  }
 
 